{% extends "::base.html.twig" %}

{% block title %}AppBundle:Afspraken:showAfspraken{% endblock %}

{% block head %}
    {% block stylesheets %}
        <link href="{{ asset('css/opmaak.css') }}" rel="stylesheet"/>
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet"/>
    {% endblock %}

    {% block javascripts %}
        <script type="text/javascript" src="{{ asset('js/jquery-1.11.2.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
    {% endblock %}
{% endblock %}

{% block body %}
    {% include 'layout/navBar.html' only %}

    <div class="body-container">
        <h1>Welcome to the Afspraken:showAfspraken page</h1>
    </div>
{% endblock %}
