.body-container {
    margin: 0 0 0 0;
}

.banner {
    z-index: -1;
    position: fixed;
}

.transparent-wrapper {
    width: 100%;
    display: inline-block;
    position: relative;
    margin-bottom: -24px;
}

.transparent-wrapper:after {
    padding-top: 20.84%;
    display: block;
    content: '';
}

.div-transparent {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: transparent;
}

.div-not-transparent {
    background: #F9F9F9;
    overflow: hidden;
    border-top: solid 1px rgb(198,198,198);
}
